.top-bar {
    display: flex;
    align-items: center;
    color: black;
}

.tb-rh {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.tb-content {
    padding: 6px;
    margin: 0px 5px 0px 10px;
}

.sign-in {
    color: white;
    background-color: #1a73e8;
    padding: 9px 20px;
    border-radius: 10%;
    border: none;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding-top: 20%;
    width: 200px;
    height: auto;

}

.search {
    border-radius: 10px/10px;
    width: 400px;
    height: auto;
}

.search-btn-row {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

.search-btn {
    justify-content: center;
    padding: 5px;
    margin: 0px 10px;
}

a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    color: black;
    text-decoration: underline;
}

form {
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;

}